<!-- LANDING PAGE-->
<div class="content">
  <!-- LANDING PAGE TEXT CONTENT -->
  <h3>THIS IS THE MOST AMAZING SPA TO DEAL WITH CHUCKNORRIS.IO API</h3>
  <h3>SEARCH AS MANY CH FACTS AS YOU LIKE</h3>
  <h3>PLEASE CHOOSE ONE OF THE FOLLOWING SECTIONS</h3>
  <!-- BUTTONS: SECTIONS LINKS -->
  <div class="buttons">
    <button (click)="goTo('random')">RANDOM FACT</button>
    <button (click)="goTo('category')">SEARCH BY CATEGORY</button>
    <button (click)="goTo('search')">FREE TEXT SEARCH</button>
  </div>
</div>



