.content {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);

  // TEXT
  h3 {margin-bottom: 2rem; font-size: 2.2rem;}

  // BUTTONS CONTAINER
  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 4rem;
    // BUTTONS STYLES
    button {
      min-width: 16rem;
      height: 3.4rem;
      border-radius: 50px;
      font-weight: bold;
      color: #555;
      border: 2px solid #555 !important;
      transition: all .3s ease-out;
      background-color: aquamarine;
      &:hover {
        background-color: #a4fdde;
        letter-spacing: 1px;
      }
    }
  }
}
