<ul id="navbar-list" class="navbar-nav override">
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="/random" class="nav-link override" id="Home">RANDOM</a>
  </li>
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="/category" class="nav-link override" id="About">CATEGORIES</a>
  </li>
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="/search" class="nav-link override" id="Artists">SEARCH</a>
  </li>
</ul>
<span class="drawer-inset-shadow"></span>
