p#joke {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: bold;
}

button {
  position: absolute;
  width: 60%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: bold;
  background-color: aquamarine;
  border-radius: 50px;
  color: #555;
  border: 2px solid #555 !important;
  transition: all .3s ease-out;
  &:hover {
    background-color: #a4fdde;
    letter-spacing: 1px;
  }
}
