.container {
  margin-top: 3rem;

  // CATEGORY SELECT INDICATOR.
  #categorySelect {
    position: absolute;
    left: 10rem;
    bottom: 3rem;
    display: flex;
    select {width: 10rem;}
    h3 {
      margin-left: 1.2rem;
      margin-bottom: 0;
      font-size: 1.6rem;
    }
  }

  // The Joke
  #joke {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: bold;
  }

  // Category Buttons
  #categoryBtns {
    position: absolute;
    left: 1rem;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    button {
      border-radius: 10px;
      background-color: aquamarine;
      margin-bottom: .5rem;
      transition: background-color .1s ease;
      border: 1px solid #ccc !important;
      &:hover {background-color: #a4fdde;}
    }
  }
}




