<!-- JOKE BY CATEGORY -->
<div class="container">
  <!-- CATEGORY SELECT -->
  <div id="categorySelect">
    <!-- SELECT CATEGORY: Linked to category buttons. -->
    <select [ngModel]="selectedCategory" (ngModelChange)="onChange($event)" name="sel2">
      <option [value]="i" *ngFor="let i of categories">{{i}}</option>
    </select>
    <h3>Select the category and get one joke!</h3>
  </div>
  <!-- BUTTONS FOR CATEGORIES -->
  <div id="categoryBtns"><button class="btn" *ngFor="let i of categories" (click)="onChange(i)">{{i}}</button></div>
  <!-- THE JOKE -->
  <p id="joke">{{ categoryJoke.value}}</p>
</div>

