<div class="content">
  <!-- TEXT SEARCH JOKE-->
  <!-- INPUT TO LAUNCH SEARCH -->
  <div id="inputs">
    <input id="searchInput" type="text" (change)="onChangeText($event)" placeholder="Enter Text Search + ENTER" />
    <div>
      <input id="email" [(ngModel)]="email" placeholder="Send results by email" type="text"/>
      <input id="sendEmail" type="checkbox" placeholder="Send results by email" [(ngModel)]="sendEmail" [ngModelOptions]="{standalone: true}"/>
    </div>
  </div>



  <!-- TOTAL RETURNED JOKES -->
  <span id="returnedResults">-- Returned <strong>{{searchJokes.total}}</strong> results</span>

  <!-- PAGINATED TABLE WITH NgxPaginationModule -->
  <div id="pagination">
    <div id="tableContainer">
      <!-- TABLE -->
      <table class="table table-bordered table-striped">
        <thead>
        <tr><th>Id</th><th>Joke</th><th>URL</th><th>Categories</th><th>Icon</th></tr></thead>
        <tbody>
        <tr *ngFor="let joke of searchJokes.result | paginate: { itemsPerPage: itemsPerPAge, currentPage: pageNumber, id: 'pag-controls' }">
          <td>{{joke.id}}</td>
          <td><strong>{{joke.value}}</strong></td>
          <td><a href="{{joke.icon_url}}">{{joke.url}}</a></td>
          <td>{{joke.categories}}</td>
          <td class="icon"><img src="{{joke.icon_url}}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--Including the pagination control -->
    <div id="paginationControlContainer">
      <pagination-controls id="pag-controls" (pageChange)="pageNumber = $event"></pagination-controls>
    </div>
  </div>

  <!-- <ul><li *ngFor="let joke of searchJokes.result">{{joke.value}}</li></ul>--><!-- LIST OF RETURNED JOKES -->
</div>
