.content {
  padding: 1rem 2rem .4rem 2.6rem;
  height: 100%;

  // TEXT SEARCH INPUT
  #inputs {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-right: 2.6rem;
    #searchInput {margin-bottom: 1rem;padding-right: 1rem; text-align: right;}
    #email {padding-right: 1rem;text-align: right; margin-right: 1rem}
  }

  // Paginated table.
  #pagination {
    margin-top: 6rem;
    margin-left: 2rem;

    // RESULTS TABLE CONTAINER
    #tableContainer {
      max-height: 72vh;
      overflow: auto;
      margin-top: 2rem;
      // RESULTS TABLE
      table {
        td {word-break: break-all;}
        tbody tr:nth-child(2n-1), tbody tr:nth-child(2n-1) td { background-color: lightcyan;}
        td.icon {
          display: table-cell;
          vertical-align: middle;
          img { max-width: 2rem;}
        }
      }
    }

    // PAGINATION ELEMENT
    #paginationControlContainer {
      text-align: right;
      margin-right: 2rem;
      margin-top: 1.2rem;
    }
  }

  // INFO DIV: Returned results
  #returnedResults {
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    transform: rotateZ(-90deg);
    transform-origin: left;
    letter-spacing: 1px;

  }
}


