/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: elvalle;
  src: url(assets/fonts/roboto/Roboto-Light.ttf) format("opentype");
}
html {
  width: 100%;
  height: 100%;
}
body {
  padding-top: 5rem;
  background-color: #fff;
  font-family: 'elvalle', 'arial', sans-serif;
  width: 100%;
  min-height: 100%;

}

